<html>
    <body>
        <h1>Facegram</h1>
        <ul >
            <% if (locals.user) {%>
            <li class="user"><%=user.name %></li>
            <li class="user">
                <a href="/user/signOut">Sign Out</a>
            </li>

            <% }else{ %>
                <li class="user">
                    <a href="/user/signIn" >Sign In</a>
                </li>
                <li class="user">
                    <a href="/user/signUp" >Sign Up</a>
                </li>


            <%}%>
        </ul>
    </body>
</html>